body {
  background-color: #e7e6e1;
}

h1 {
  color: #387c6d;
}

h3 {
  color: #387c6d;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;

  width: 3%;
}
